<h1>Listing purchases</h1>

<table>
  <tr>
    <th>User</th>
    <th>Trip</th>
    <th>Pay type</th>
    <th>Purchase date</th>
    <th>Real travel date</th>
    <th>Amount</th>
  </tr>

<% @purchases.each do |purchase| %>
  <tr>
    <td><%=h purchase.user %></td>
    <td><%=h purchase.trip %></td>
    <td><%=h purchase.pay_type %></td>
    <td><%=h purchase.purchase_date %></td>
    <td><%=h purchase.real_travel_date %></td>
    <td><%=h purchase.amount %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase', new_purchase_path %>