<p>
  <b>User:</b>
  <%=h @purchase.user %>
</p>

<p>
  <b>Trip:</b>
  <%=h @purchase.trip %>
</p>

<p>
  <b>Pay type:</b>
  <%=h @purchase.pay_type %>
</p>

<p>
  <b>Purchase date:</b>
  <%=h @purchase.purchase_date %>
</p>

<p>
  <b>Real travel date:</b>
  <%=h @purchase.real_travel_date %>
</p>

<p>
  <b>Amount:</b>
  <%=h @purchase.amount %>
</p>


<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>