<p>
  <b>User:</b>
  <%=h @user_preference.user %>
</p>

<p>
  <b>Type:</b>
  <%=h @user_preference.type %>
</p>

<p>
  <b>Name:</b>
  <%=h @user_preference.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @user_preference.description %>
</p>


<%= link_to 'Edit', edit_user_preference_path(@user_preference) %> |
<%= link_to 'Back', user_preferences_path %>